.inputForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.labelForm {
  text-align: left;
  padding: 0.25rem;
}

.inputFormText {
  border-color: rgb(83, 83, 83);
  border-radius: 0.25rem;
  font-size: 1.5rem;
}

.inputFormSubmit {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
}