.mainContainer {
  list-style: none;
  width: 80%;
  border: 1px solid black;
  border-radius: 0.25rem;
  margin: 0 auto;
  padding: 0;
}

.mainContainerItem {
  border-bottom: solid 1px #000;
  text-align: left;
  padding: 1rem;
}